<section id="conheca">
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-12 text-center">
        <img src="assets/img/cerealiza-mobile.jpg" alt="" class="img-fluid anime anime-start">
      </div>
      <div class="col-md-6 col-sm-12">
        <h1>Cerealiza</h1>
        <h2>Sistema para gestão financeira de lavouras</h2>
        <p>Em um mundo cada vez mais conectado, novas soluções são aprimoradas a todo o momento.</p>
        <p>Mas como estar atualizado e ser rápido quando tudo está cada vez mais complexo? Simplificar é a chave. A Cerealiza tem por princípio simplificar a tomada de decisão do produtor.</p>
      </div>
    </div>
  </div>
</section>
