<section id="depoimentos">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col">
        <img src="/src/assets/img/speech-bubble.svg" alt="" class="my-2">
        <h1>Depoimentos de clientes</h1>
        <p>Confira a opinião de quem utiliza o Cerealiza no seu dia-a-dia</p>
      </div>
    </div>
    <div class="row my-5 anime anime-start">
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="/src/assets/videos/depoimento-roberto-balssan.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Roberto Balssan</p>
            <p class="area"><b>Produtor de Soja</b> | Santa Maria - RS</p>
            <p class="resumo">"Sem números, o que fazer?"</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="/src/assets/videos/carlos-danton-seixas.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Carlos Danton Seixas</p>
            <p class="area"><b>Produtor de Soja</b> | Santa Maria - RS</p>
            <p class="resumo">"Pontos certos para melhorar a eficiência econômica."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="/src/assets/videos/depoimento-luis-fernando-bicca.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Luis Fernando Bicca</p>
            <p class="area"><b>Produtor de Arroz e Soja</b> | Itaqui - RS</p>
            <p class="resumo">"Botou as conta e fomos atrás!"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5 anime anime-start">
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="/src/assets/videos/depoimento-carlos-eugenio.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Carlos Eugênio Soto Vidal</p>
            <p class="area"><b>Produtor de Soja</b> | Santa Maria - RS</p>
            <p class="resumo">"Sem essa ferramenta várias decisões não teria como tomar."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="/src/assets/videos/depoimento-juliano.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Juliano Souto</p>
            <p class="area"><b>Engenheiro Agrônomo</b> | Alegrete - RS</p>
            <p class="resumo">"Útil na tomada de decisão de venda."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="/src/assets/videos/depoimento-luis-henrique.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Luis Henrique Gomes</p>
            <p class="area"><b>Produtor de Arroz e Soja</b> | Itaqui - RS</p>
            <p class="resumo">"É uma necessidade saber o seu custo!"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <button class="bt gradient-yg my-2">Mostrar mais depoimentos</button>
      </div>
    </div>
  </div>
</section>
