
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a href="#" class="navbar-brand"><img src="assets/img/logo-horizontal.svg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoMenu" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="conteudoMenu" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"> <a href="#conheca" class="nav-link">Conheça</a></li>
      <li class="nav-item"> <a href="#beneficios" class="nav-link">Benefícios</a></li>
      <li class="nav-item"> <a href="#depoimentos" class="nav-link">Depoimentos</a></li>
      <li class="nav-item"> <a href="#equipe" class="nav-link">Equipe</a></li>
      <li class="nav-item"> <a href="#contato" class="nav-link">Contato</a></li>
      <li class="nav-item"> <a href="#" class="nav-link btt blue" data-toggle="modal" data-target="#cadastroModal">Teste Grátis</a></li>
      <li class="nav-item"> <a href="https://dashboard.cerealiza.com.br/auth/login" class="nav-link btt green"><img src="assets/img/ic_person_18px.svg" alt="" style="margin-top: -3px"> Entrar</a></li>
    </ul>
  </div>
</nav>

<div id="banner">
  <div class="container-fluid text-center">
    <h1>Sabe a quanto vende sua produção? <br> É o suficiente para pagar as contas e ainda <u>sobrar</u>?</h1>
    <div class="my-4"></div>
    <a href="#conheca"><button class="bt gradient-yg">Conheça nosso sistema para gestão financeira de lavouras</button></a>
    <br>
    <a href="#conheca" style="color: #fff"><i class="fas fa-chevron-down mt-3 anime"></i></a>
  </div>
</div>

<section id="conheca">
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-6 col-sm-12 text-center">
        <img src="assets/img/cerealiza-mobile.jpg" alt="" class="img-fluid anime">
      </div>
      <div class="col-md-6 col-sm-12">
        <h1>Cerealiza</h1>
        <h2>Sistema para gestão financeira de lavouras</h2>
        <p>Em um mundo cada vez mais conectado, novas soluções são aprimoradas a todo o momento.</p>
        <p>Mas como estar atualizado e ser rápido quando tudo está cada vez mais complexo? Simplificar é a chave. A Cerealiza tem por princípio simplificar a tomada de decisão do produtor.</p>
      </div>
    </div>
  </div>
</section>

<section id="beneficios">
  <div class="container my-5">

    <div class="row">
      <div class="col-12 bhoechie-tab-container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bhoechie-tab-menu">
            <div class="list-group">
              <a href="#" class="list-group-item active">
                <img src="assets/img/like-c.svg" alt="" class="mr-2">
                Simplificar a coleta de dados
              </a>
              <a href="#" class="list-group-item">
                <img src="assets/img/clock-c.svg" alt="" class="mr-2">
                Analisar margem/custos
              </a>
              <a href="#" class="list-group-item">
                <img src="assets/img/star-c.svg" alt="" class="mr-2">
                Planejar construção de margem
              </a>
              <a href="#" class="list-group-item">
                <img src="assets/img/bars-c.svg" alt="" class="mr-2">
                Orientar para a venda
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bhoechie-tab text-center p-5 d-flex align-items-center">
            <!-- flight section -->
            <div class="bhoechie-tab-content active">
              <img src="assets/img/like-c.svg" alt="" class="mb-4">
              <p>Rotinas simples que evitam ao MÁXIMO a busca nota a nota pelo produtor!</p>
            </div>
            <!-- train section -->
            <div class="bhoechie-tab-content">
              <img src="assets/img/clock-c.svg" alt="" class="mb-4">
              <p>Sua margem está boa? Vendeu bem? Seus custos estão competitivos na região?</p>
            </div>

            <!-- hotel search -->
            <div class="bhoechie-tab-content">
              <img src="assets/img/star-c.svg" alt="" class="mb-4">
              <p>Como estão as finanças? Dívidas de curto prazo? E os juros? Há como melhorar?</p>
            </div>
            <div class="bhoechie-tab-content">
              <img src="assets/img/bars-c.svg" alt="" class="mb-4">
              <p>Preço médio está compatível com o da região? Analisa o mercado?</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row beneficios-mobile py-4 text-center">
      <div class="col-6 my-4">
        <p><img src="assets/img/like-c.svg" alt=""></p>
        <p class="font-weight-bold">Simplificar a coleta de dados</p>
        <p>Rotinas simples que evitam ao MÁXIMO a busca nota a nota pelo produtor!</p>
      </div>
      <div class="col-6 my-4">
        <p><img src="assets/img/clock-c.svg" alt=""></p>
        <p class="font-weight-bold">Analisar margem/custos</p>
        <p>Sua margem está boa? Vendeu bem? Seus custos estão competitivos na região?</p>
      </div>
      <div class="col-6 my-4">
        <p><img src="assets/img/star-c.svg" alt=""></p>
        <p class="font-weight-bold">Planejar construção de margem</p>
        <p>Como estão as finanças? Dívidas de curto prazo? E os juros? Há como melhorar?</p>
      </div>
      <div class="col-6 my-4">
        <p><img src="assets/img/bars-c.svg" alt=""></p>
        <p class="font-weight-bold">Orientar para a venda</p>
        <p>Preço médio está compatível com o da região? Analisa o mercado?</p>
      </div>
    </div>

  </div>
</section>


<section id="comece">
  <div class="container my-5">
    <div class="row align-items-center text-center">

      <div class="col-md-6 col-sm-12 py-2">
        <img src="assets/img/notebook.png" alt="" class="img-fluid anime">
      </div>
      <div class="col-md-6 col-sm-12 py-2">
        <img src="assets/img/screen.svg" alt="" class="my-2">
        <br>
        <h1 class="my-2">Comece a usar agora gratuitamente!</h1>
        <p class="my-2">Cadastre-se e faça o teste por 15 dias.</p>
        <button class="bt gradient-gb my-2" data-toggle="modal" data-target="#cadastroModal">Testar agora</button>
      </div>

    </div>
  </div>
</section>

<section id="depoimentos">
  <div class="container py-5">
    <div class="row text-center">
      <div class="col">
        <img src="assets/img/speech-bubble.svg" alt="" class="my-2">
        <h1>Depoimentos de clientes</h1>
        <p>Confira a opinião de quem utiliza o Cerealiza no seu dia-a-dia</p>
      </div>
    </div>
    <div class="row my-5 anime">
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="assets/videos/depoimento-roberto-balssan.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Roberto Balssan</p>
            <p class="area"><b>Produtor de Soja</b> | Santa Maria - RS</p>
            <p class="resumo">"Sem números, o que fazer?"</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="assets/videos/carlos-danton-seixas.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Carlos Danton Seixas</p>
            <p class="area"><b>Produtor de Soja</b> | Santa Maria - RS</p>
            <p class="resumo">"Pontos certos para melhorar a eficiência econômica."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="assets/videos/depoimento-luis-fernando-bicca.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Luis Fernando Bicca</p>
            <p class="area"><b>Produtor de Arroz e Soja</b> | Itaqui - RS</p>
            <p class="resumo">"Botou as conta e fomos atrás!"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5 anime">
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="assets/videos/depoimento-carlos-eugenio.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Carlos Eugênio Soto Vidal</p>
            <p class="area"><b>Produtor de Soja</b> | Santa Maria - RS</p>
            <p class="resumo">"Sem essa ferramenta várias decisões não teria como tomar."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="assets/videos/depoimento-juliano.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Juliano Souto</p>
            <p class="area"><b>Engenheiro Agrônomo</b> | Alegrete - RS</p>
            <p class="resumo">"Útil na tomada de decisão de venda."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="content-video">
          <video src="assets/videos/depoimento-luis-henrique.mp4" controls="auto" class="img-fluid"></video>
          <div>
            <p class="nome-cliente">Luis Henrique Gomes</p>
            <p class="area"><b>Produtor de Arroz e Soja</b> | Itaqui - RS</p>
            <p class="resumo">"É uma necessidade saber o seu custo!"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <button class="bt gradient-yg my-2">Mostrar mais depoimentos</button>
      </div>
    </div>
  </div>
</section>

<section id="equipe">
  <div class="container py-3">
    <div class="row text-center my-5">
      <div class="col">
        <h1>Quem Somos</h1>
        <p>Nosso time está disposto a ajudar você a gerenciar melhor sua lavoura</p>
      </div>
    </div>
    <div class="row anime">
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="assets/img/rodrigo.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Rodrigo Souto
          <br>
          <a href="https://www.linkedin.com/in/rodrigo-souto-21b0b85/" target="_blank"><img src="assets/img/linkedin.svg" alt=""></a>
        </p>
        <p>Produtor Rural, Empresário e Sócio</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="assets/img/leal.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Alexandre Leal
          <br>
          <a href="https://www.linkedin.com/in/alexandre-leal/" target="_blank"><img src="assets/img/linkedin.svg" alt=""></a></p>
        <p>Sócio, especialista em T.I.</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="assets/img/david.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">David Rodrigues
          <br>
          <a href="https://www.linkedin.com/in/david-petro-91296941/" target="_blank"><img src="assets/img/linkedin.svg" alt=""></a></p>
        <p>Software Engineer</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="assets/img/rafa.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Raphael Monteiro
          <br>
          <a href="https://www.linkedin.com/in/raphael-monteiro-47861887/" target="_blank"><img src="assets/img/linkedin.svg" alt=""></a></p>
        <p>Software Engineer</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="assets/img/santiago.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Santiago B.
          <br>
          <a href="https://www.linkedin.com/in/santiagofbernardes/" target="_blank"><img src="assets/img/linkedin.svg" alt=""></a></p>
        <p>Software Engineer</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="assets/img/john.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">John Falcão
          <br>
          <a href="https://www.linkedin.com/in/johnfalcao/" target="_blank"><img src="assets/img/linkedin.svg" alt=""></a></p>
        <p>UX/UI Designer</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="assets/img/elaine.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Elaine M.</p>
        <p>Advogada</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div id="contato" class="container py-3">
    <div class="row text-center py-3">
      <div class="col" style="border-bottom: 1px solid #74E2A3">
        <h2>Cadastre-se e faça o teste por 15 dias.</h2>
        <p><button class="bt gradient-gb my-2" data-toggle="modal" data-target="#cadastroModal">Testar agora</button></p>
      </div>
    </div>
    <div class="row py-3">
      <div class="col-md-4 col-12 text-center align-self-center" style="font-size: 12px">
        <img src="assets/img/simbolo.svg" alt="" class="img-fluid mr-2"> © Cerealiza 2019 - Todos os direitos reservados
      </div>
      <div class="col-md-4 col-12 align-self-center">
        <div class="row my-2 text-center">
          <div class="col">
            <img src="assets/img/box-envelope.svg" alt=""> <a href="mailto:sac@cerealiza.com.br">sac@cerealiza.com.br</a>
          </div>
        </div>
        <div class="row my-2 text-center">
          <div class="col">
            <img src="assets/img/box-facebook.svg" alt=""> facebook.com/cerealiza
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 text-center align-self-center my-2">
        <!-- <img src="img/whats.png" alt="" class="img-fluid"> -->
      </div>
    </div>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="cadastroModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cadastroModalLabel">Preencha os camos que enviaremos o acesso para seu e-mail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nome" class="col-form-label">Nome</label>
            <input type="text" class="form-control" id="nome">
          </div>
          <div class="form-group">
            <label for="sobrenome" class="col-form-label">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome">
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">E-mail</label>
            <input type="text" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="cpf" class="col-form-label">CPF</label>
            <input type="text" class="form-control" id="cpf">
          </div>
          <div class="form-group">
            <label for="area-plantada" class="col-form-label">Área plantada</label>
            <select class="custom-select" id="area">
              <option selected>Selecione...</option>
              <option value="1">Entre 1 e 500 hectares</option>
              <option value="2">Entre 501 e 1.000 hectares</option>
              <option value="3">Entre 1.001 e 2.000 hectares</option>
              <option value="4">Entre 2.001 e 5.000 hectares</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
