<section id="equipe">
  <div class="container py-3">
    <div class="row text-center my-5">
      <div class="col">
        <h1>Quem Somos</h1>
        <p>Nosso time está disposto a ajudar você a gerenciar melhor sua lavoura</p>
      </div>
    </div>
    <div class="row anime anime-start">
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="/src/assets/img/rodrigo.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Rodrigo Souto
          <br>
          <a href="https://www.linkedin.com/in/rodrigo-souto-21b0b85/" target="_blank"><img src="/src/assets/img/linkedin.svg" alt=""></a>
        </p>
        <p>Produtor Rural, Empresário e Sócio</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="/src/assets/img/leal.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Alexandre Leal
          <br>
          <a href="https://www.linkedin.com/in/alexandre-leal/" target="_blank"><img src="/src/assets/img/linkedin.svg" alt=""></a></p>
        <p>Sócio, especialista em T.I.</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="/src/assets/img/david.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">David Rodrigues
          <br>
          <a href="https://www.linkedin.com/in/david-petro-91296941/" target="_blank"><img src="/src/assets/img/linkedin.svg" alt=""></a></p>
        <p>Software Engineer</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="/src/assets/img/rafa.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Raphael Monteiro
          <br>
          <a href="https://www.linkedin.com/in/raphael-monteiro-47861887/" target="_blank"><img src="/src/assets/img/linkedin.svg" alt=""></a></p>
        <p>Software Engineer</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="/src/assets/img/santiago.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Santiago B.
          <br>
          <a href="https://www.linkedin.com/in/santiagofbernardes/" target="_blank"><img src="/src/assets/img/linkedin.svg" alt=""></a></p>
        <p>Software Engineer</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="/src/assets/img/john.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">John Falcão
          <br>
          <a href="https://www.linkedin.com/in/johnfalcao/" target="_blank"><img src="/src/assets/img/linkedin.svg" alt=""></a></p>
        <p>UX/UI Designer</p>
      </div>
      <div class="col-md-2 col-sm-4 col-4 profissional">
        <div class="foto">
          <img src="/src/assets/img/elaine.jpg" alt="" class="img-fluid">
        </div>
        <p class="font-weight-bold">Elaine M.</p>
        <p>Advogada</p>
      </div>
    </div>
  </div>
</section>
